{% extends 'base.html.twig' %}

{% block title %}Detail de la commande{% endblock %}

{% block body %}
{{ include("partials/title_section.html.twig", {'name':'Détail de la commande'}) }}

<div class="section checkout">
		<div class="container">
        <div>
        <div class="order-reference">
            <div>Reference : {{ order.reference }}</div>
            <div>Date : {{ order.createdAt | date('d/m/Y') }}</div>
        </div>
        </div>
			<div class="row">
				<div class="col-12">
					<div class="table-responsive shop_cart_table">
						<table class="table">
							<thead>
								<tr>
									<th class="product-thumbnail">id</th>
									<th class="product-name">Nom du Produit</th>
									<th class="product-price">Prix</th>
									<th class="product-quantity">Quantité</th>
									<th class="product-subtotal">TotalHT</th>
                                    <th class="product-subtotal">TVA</th>
									<th class="product-subtotal">TotalTTC</th>
								</tr>
							</thead>
							<tbody>

								{% for element in order.orderDetails %}
									<tr>
                                        <td class="product-thumbail">{{ element.id }}</td>
					
										<td class="product-name" data-title="Product"><a href="">{{ element.productName }}</a></td>
										<td class="product-price" data-title="Price">€{{element.productPrice }}</td>
										<td class="product-quantity" data-title="Quantity">{{ element.quantity }}</td>
										<td class="product-subtotal" data-title="Total">€{{ element.subTotalHT }}</td>
                                        <td class="product-subtotal" data-title="Total">€{{ element.taxe }}</td>
                                        <td class="product-subtotal" data-title="Total">€{{ element.subTotalTTC }}</td>
										
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th class="product-thumbnail">id</th>
									<th class="product-name">Nom du Produit</th>
									<th class="product-price">Prix</th>
									<th class="product-quantity">Quantité</th>
									<th class="product-subtotal">TotalHT</th>
                                    <th class="product-subtotal">TVA</th>
									<th class="product-subtotal">TotalTTC</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="medium_divider"></div>
					<div class="divider center_icon">
						<i class="ti-shopping-cart-full"></i>
					</div>
					<div class="medium_divider"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"></div>
				<div class="col-md-6">
					<div class="border p-3 p-md-4">
						<div class="heading_s1 mb-3">
							<h6>Order Totals</h6>
						</div>
						<div class="table-responsive">
							<table class="table">
								<tbody>
									<tr>
										<td class="cart_total_label">Total HT</td>
										<td class="cart_total_amount">€{{ order.subTotalHT }}</td>
									</tr>
                                    <tr>
										<td class="cart_total_label">Livraison ( {{ order.carrierName }} ) </td>
										<td class="cart_total_amount">€{{ order.carrierPrice}}</td>
									</tr>

									<tr>
										<td class="cart_total_label">TVA</td>
										<td class="cart_total_amount">€{{ order.taxe }}</td>
									</tr>

									<tr>
										<td class="cart_total_label">Total TTC</td>
										<td class="cart_total_amount">
											<strong>{{ order.subTotalTTC }}€</strong>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<a href="{{path('account')}}" class="btn btn-fill-out">retour au compte</a>
						<!--<a href="{{path('cart')}}" class="btn btn-fill-out">repasser la commande</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
