{% extends 'base.html.twig' %}

{% block title %}Compte AliExprass{% endblock %}

{% block body %}
{{ include("partials/title_section.html.twig", {'name':'Votre compte'}) }}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="dashboard_menu">
                    <ul class="nav nav-tabs flex-column" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="ti-layout-grid2"></i>Tableau de bord</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="ti-shopping-cart-full"></i>Commandes</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="ti-location-pin"></i>Mes adresses</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="account-detail-tab" data-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="ti-id-badge"></i>Détail du compte</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout')}}"><i class="ti-lock"></i>Se déconnecter</a>
                      </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">

                {% for message in app.flashes('address_message') %}
                     <div class="alert alert-success alert-dismissible fade show" role="alert"> {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                    
                {% endfor %}
                <div class="tab-content dashboard_content">
                      <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3>Bonjour {{ app.user.lastname | capitalize }}  </h3>
                            </div>
                            <div class="card-body">

                                <p>Voici le tableau de bord de votre compte. vous pouvez facilement vérifier vos commandes <a href="javascript:void(0);" onclick="$('#orders-tab').trigger('click')">récentes</a>, manager <a href="javascript:void(0);" onclick="$('#address-tab').trigger('click')">vos livraisons et adresses de facturations</a> et <a href="javascript:void(0);" onclick="$('#account-detail-tab').trigger('click')">vos mots de passes.</a></p>
                                {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{path('admin')}}" target="_blank" class="btn btn-fill-out">Accès au backoffice</a>
                                {% endif %}
                            </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3>Commandes</h3>
                            </div>
                             {% if orders %}
                             <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Commande</th>
                                                <th>Status</th>
                                                 <th>Date</th>
                                                <th>Total</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                               
                            
                                        {% for order in orders %}
                                            <tr>
                                                <td>{{ order.id }}</td>
                                                <td> {% if order.isPaid %}
                                                <h6 style="color:green">payée le</h6>
                                                {% endif %}
                                                </td>
                                                <td>{{ order.createdAt | date('d/m/Y à H:i', "Europe/Paris")}}</td>
                                                <td>{{order.subTotalTTC }}€ pour {{ order.quantity }} article(s) </td>
                                                <td><a href="{{path('account_order_details',{'id': order.id }  )}}" class="btn btn-fill-out btn-sm">Détails</a></td>
                                            </tr>
                                        {% endfor %} 
                                            
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% else %}
                            <div>désolé {{ app.user.fullName }}. Vous n'avez pas encore de place</div>
                                {% endif %} 
                           
                        </div>
                      </div>

                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="{{path('address_new')}}" class="btn btn-fill-out mb-3">Ajouter une nouvelle adresses</a>
                            </div>
                        </div>
                        <div class="row">
                    {% if app.user.addresses %}
                    {% set index = 0 %}
                        {% for address in app.user.addresses %}
                            {% set index = index +1 %}
                            <div class="col-lg-6">
                                        <div class="card mb-3 mb-lg-0">
                                            <div class="card-header">
                                                <h3> Votre adresse {{index}} </h3>
                                            </div>
                                            <div class="card-body jumbotron">
                                                <address> {{ address.fullname }}<br>
                                                    {{ address.address }} <br>
                                                    {{ address.complement }}<br>
                                                    {{ address.city }} <br>
                                                    {{ address.codePostal }}<br>
                                                    {{ address.country }}

                                                </address>
                                                <div class="btn-group">
                                                    <a href="{{path('address_edit', {'id': address.id})}}" class="btn btn-success">Edit</a>
                                                    {{ include('address/_delete_form.html.twig') }}

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                            {% endfor %}     
                            {% else %}
                                <p>Désolé, vous n'avez pas encore ajouté d'adresse à votre compte ! </p>
                            {% endif %}

                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3>Détails du compte</h3>
                            </div>
                            <div class="card-body">
                                
                                <form method="post" name="enq">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>Prénom <span class="required">*</span></label>
                                            <input required="" value="{{ app.user.firstname }}" class="form-control" name="name" type="text">
                                         </div>
                                         <div class="form-group col-md-6">
                                            <label>Nom de famille <span class="required">*</span></label>
                                            <input required="" value="{{ app.user.lastname }}" class="form-control" name="phone">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Afficher un nom<span class="required">*</span></label>
                                            <input required="" value="{{ app.user.username }}" class="form-control" name="dname" type="text">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Email <span class="required">*</span></label>
                                            <input required="" value="{{ app.user.email }}" class="form-control" name="email" type="email">
                                        </div>
                                        <!--    -->

                                    <div class="container text-center" style="margin-top: 20px;">
                                    <h1>Modifier mon mot de passe</h1>
                                   
                                    <hr>
                                    </div>

                                        <div class="form-group col-md-12">
                                            <label>Mot de passe actuel <span class="required">*</span></label>
                                            <input required="" class="form-control" name="password" type="password">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Nouveau mot de passe <span class="required">*</span></label>
                                            <input required="" class="form-control" name="npassword" type="password">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Confirmer le mot de passe<span class="required">*</span></label>
                                            <input required="" class="form-control" name="cpassword" type="password">
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-fill-out" name="submit" value="Submit">Enregistrer</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
