{% extends 'base.html.twig' %}

{% block title %}Connexion !{% endblock %}

{% block body %}

{{ include("partials/title_section.html.twig",{'name' : 'connexion'}) }}

<div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3>Connexion</h3>
                            </div>
                            <form method="post">
                                {% if app.user %}
                                    <div class="mb-3">
                                        Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                                    </div>
                                    {% endif %}
                                <div class="message-flash">
                                {% if error %}
                                   <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                </div>
                                <div class="form-group">
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                                </div>
                                <div class="form-group">
                                        <label for="inputPassword">Mot de passe</label>
                                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                                </div>
                                        <input type="hidden" name="_csrf_token"
                                            value="{{ csrf_token('authenticate') }}"
                                        >
                                <div class="login_footer form-group">
                                    <div class="chek-form">
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                            <label class="form-check-label" for="exampleCheckbox1"><span>Se souvenir de moi</span></label>
                                        </div>
                                    </div>
                                    <a href="{{path('app_forgot_password_request')}}">Mot de passe oublié?</a>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block" name="login">Connexion</button>
                                </div>
                            </form>
                            <div class="different_login">
                                <span> connexion rapide avec un compte</span>
                            </div>
                            <ul class="btn-login list_none text-center">
                                <li><a href="#" class="btn btn-facebook"><i class="ion-social-facebook"></i>Facebook</a></li>
                                {# <li><a href="{{path('connect_google_start')}}" class="btn btn-google"><i class="ion-social-googleplus"></i>Google</a></li> #}
                            </ul>
                            <div class="form-note text-center">Vous n'avez pas de compte ? <a href="{{path('app_register')}}">S'inscrire maintenant</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







<form method="post">
   
    

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

   
{% endblock %}
