{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	{% if homeSlider %}
    

		{{ include("partials/home_slider.html.twig", {'slider': homeSlider }) }}

	{% else %}

		{{ include("partials/title_section.html.twig", {'name':'Home page'}) }}

	{% endif %}

	<div class="container">
		<div class="section small_pt pb_70">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6">
						<div class="heading_s1 text-center">
							<h2>Produits exclusifs</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="tab-style1">
							<ul class="nav nav-tabs justify-content-center" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="arrival-tab" data-toggle="tab" href="#arrival" role="tab" aria-controls="arrival" aria-selected="true">Nouveaux arrivages</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="sellers-tab" data-toggle="tab" href="#sellers" role="tab" aria-controls="sellers" aria-selected="false">Meilleurs ventes</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="featured-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="false">Produits star</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="specialoffer-tab" data-toggle="tab" href="#specialoffer" role="tab" aria-controls="specialoffer" aria-selected="false">Offres Spéciales</a>
								</li>

							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="arrival" role="tabpanel" aria-labelledby="arrival-tab">
								<div class="row shop_container">
									{% for product in productNewArrival %}
										{{ include('partials/product.html.twig', {'product' : product})}}
									{% endfor %}

								</div>
							</div>
							<div class="tab-pane fade" id="sellers" role="tabpanel" aria-labelledby="sellers-tab">
								<div class="row shop_container">
									{% for product in productBestSeller %}
										{{ include('partials/product.html.twig', {'product' : product})}}
									{% endfor %}
								</div>
							</div>
							<div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab">
								<div class="row shop_container">
									{% for product in productFeatured %}
										{{ include('partials/product.html.twig', {'product' : product})}}
									{% endfor %}
								</div>
							</div>
							<div class="tab-pane fade" id="specialoffer" role="tabpanel" aria-labelledby="specialoffer-tab">
								<div class="row shop_container">
									{% for product in productSpecialOffer %}
										{{ include('partials/product.html.twig', {'product' : product})}}
									{% endfor %}
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
