{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}
	{{ include("partials/title_section.html.twig",{'name' : 'Password Reset Email Sent'}) }}
	<div class="login_register_wrap section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-6 col-md-10">
					<div class="login_wrap">
						<div class="padding_eight_all bg-white">
							<div class="heading_s1">
								<h3>réinitialiser le mot de passe</h3>
							</div>
							<div class="content">
								<p>
									Un e-mail a été envoyé contenant un lien sur lequel vous pouvez cliquer pour réinitialiser votre mot de passe.
									                                   Ce lien expirera dans
									{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
								</p>
								<p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
									<a href="{{ path('app_forgot_password_request') }}">réessayer
									</a>.</p>
							</div>
							<div class="form-note text-center">Vous n'avez pas de compte ?
								<a href="{{ path('app_register')}}">S'inscrire maintenant</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
