{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}

{{ include("partials/title_section.html.twig",{'name' : 'réinitialiser le mot de passe'}) }}
<div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3>réinitialiser le mot de passe</h3>
                            </div>
                                <div class="content">
                                <div class="mesage-flash">
                                        {% for flashError in app.flashes('reset_password_error') %}
                                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                        {% endfor %}
                                        <h1>réinitialisez votre mot de passe</h1>
                               </div>
                                {{ form_start(requestForm) }}
                                {{ form_row(requestForm.email) }}
                                <div>
                                    <small>
                                        Entrez votre adresse e-mail et nous vous enverrons un
                                        lien pour réinitialiser votre mot de passe.
                                    </small>
                                </div>

                                <button class="btn btn-fill-out btn-block">Envoyez un e-mail de réinitialisation du mot de passe.</button>
                                {{ form_end(requestForm) }}

                               </div>
                            <div class="form-note text-center">Vous n'avez pas de compte ?  <a href="{{ path('app_register')}}">S'inscrire maintenant</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}