
<div class="section pb_70">
	<div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6">
            	<div class="contact_wrap contact_style3">
                    <div class="contact_icon">
                        <i class="linearicons-map2"></i>
                    </div>
                    <div class="contact_text">
                        <span>Address</span>
                        <p>3 Rue Léon Gambetta, 59260 Hellemmes</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
            	<div class="contact_wrap contact_style3">
                    <div class="contact_icon">
                        <i class="linearicons-envelope-open"></i>
                    </div>
                    <div class="contact_text">
                        <span>Email Address</span>
                        <a href="mailto:info@sitename.com">contact@aliexprass.fr </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
            	<div class="contact_wrap contact_style3">
                    <div class="contact_icon">
                        <i class="linearicons-tablet2"></i>
                    </div>
                    <div class="contact_text">
                        <span>Phone</span>
                        <p>(+33) 7 52 15 25 60</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section pt-0">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12">
            	<div class="heading_s1">
                	<h2>Contact Us</h2>
                </div>
                <p class="leads">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                <div class="field_form">
                    {{form_start(form)}}
                        <div class="row">
                            {% for message in app.flashes('contact_success') %}
                                <div class="col-md-12 alert alert-success alert-dismissible fade show" role="alert" > {{ message }}
                                    <button type="button"  class="close" data-dismiss="alert" arial-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div> 
                            {% endfor %}
                            {% for message in app.flashes('contact_error') %}
                                <div class="col-md-12 alert alert-danger alert-dismissible fade show" role="alert" > {{ message }}
                                    <button type="button"  class="close" data-dismiss="alert" arial-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div> 
                            {% endfor %}
                            <div class="form-group col-md-6">
                                {{form_row(form.name)}}
                             </div>
                            <div class="form-group col-md-6">
                                {{form_row(form.email)}}
                            </div>
                            <div class="form-group col-md-6">
                                {{form_row(form.phone)}}
                            </div>
                            <div class="form-group col-md-6">
                                {{form_row(form.subject)}}
                            </div>
                            <div class="form-group col-md-12">
                                {{form_row(form.content, {"label":"Votre message : " })}}
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-fill-out">{{ button_label|default('Envoyer') }}</button>
                                
                            </div>
                            {{form_end(form)}}
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

