<!DOCTYPE html>
<html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <title> {% block title %}Demo ProResto{% endblock %} </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="AliExprass" name="author">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Exclusively for all! Take advantage of up to -50% on these offers during our smart days. Shop smart with discounts on electronics, phones and home goods. Up to -50% Buyer Protection. Free Shipping. Summer promo. Great Value. A multitude of sellers.">
        <meta name="keywords" content="">

        <title>Mon RestoHerokuTest</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{asset('assets/images/favicon.png')}}">

        <link rel="stylesheet" href="{{ asset('assets/style.css')}}">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block scriptStripe %}{% endblock %}
    </head>
    <body>
    
       
    
    {% include "partials/header.html.twig" %}
      
    {% block body %}{% endblock %}
      
    {% include "partials/footer.html.twig" %}
    
    <div class="main_content">         
    </div>

        <script src="{{ asset('assets/js/jquery-1.12.4.min.js')}}"></script> 
        <script src="{{ asset('assets/js/popper.min.js')}}"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('assets/owlcarousel/js/owl.carousel.min.js')}}"></script>
        <script src="{{ asset('assets/js/magnific-popup.min.js')}}"></script>
        <script src="{{ asset('assets/js/waypoints.min.js')}}"></script> 
        <script src="{{ asset('assets/js/parallax.js')}}"></script> 
        <script src="{{ asset('assets/js/jquery.countdown.min.js')}}"></script> 
        <script src="{{ asset('assets/js/imagesloaded.pkgd.min.js')}}"></script>
        <script src="{{ asset('assets/js/isotope.min.js')}}"></script>
        <script src="{{ asset('assets/js/jquery.dd.min.js')}}"></script>
        <script src="{{ asset('assets/js/slick.min.js')}}"></script>
        <script src="{{ asset('assets/js/jquery.elevatezoom.js')}}"></script>
        <script src="{{ asset('assets/js/scripts.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js"></script>  
        {% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
    </body>
</html>
